<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>name</key><string>comments.plist</string>
        <key>description</key><string>TextMate bundle for LSL (the Linden Scripting Language).</string>
        <key>last modified</key><string>2013-07-09 13:00:00</string>
        <key>scope</key><string>source.lsl</string>
        <key>settings</key>
        <dict>
            <key>shellVariables</key>
            <array>
                <dict>
                    <key>name</key><string>TM_COMMENT_START</string>
                    <key>value</key><string>//</string>
                </dict>
                <dict>
                    <key>name</key><string>TM_COMMENT_START_2</string>
                    <key>value</key><string>/*</string>
                </dict>
                <dict>
                    <key>name</key><string>TM_COMMENT_END_2</string>
                    <key>value</key><string>*/</string>
                </dict>
            </array>
        </dict>
        <key>uuid</key><string>4762d526-5f26-4e55-91a6-d895d9434e8f</string>
    </dict>
</plist>
