<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CFBundleIdentifier</key><string>SEEMode.LSL</string>
        <key>CFBundleName</key><string>LSL</string>
        <key>NSHumanReadableCopyright</key><string>No Copyright</string>
        <key>CFBundleGetInfoString</key><string>4.0, Unlicensed</string>
        <key>CFBundleShortVersionString</key><string>4.0</string>
        <key>CFBundleVersion</key><string>4.0</string>
        <key>SEEMinimumEngineVersion</key><string>4.0</string>
        <key>CFBundlePackageType</key><string>BNDL</string>
        <key>CFBundleInfoDictionaryVersion</key><string>6.0</string>
    </dict>
</plist>
